@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --vh: calc(1vh - 1px);
}

body,
main,
article {
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  background: #000;
}

.articles {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
}

article {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/photo-bg.avif");

  background-size: cover;
  background-position: center 0%;
  position: relative;
  z-index: 2;
  transition: transform;
  transition-timing-function: cubic-bezier(0.45, 0.02, 0.09, 0.98);
  transition-duration: 650ms;
  scroll-snap-align: center;
  width: 100vw;
  flex-shrink: 0;
}

article:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("./assets/photo-bg2.avif");
}

body[data-nav="true"] article {
  transform: translateY(-55%);
}

body[data-nav="true"] #nav-links {
  transform: translateY(0%) scale(1);
  opacity: 1;
}

body:not([data-nav="true"]) #nav-toggle > i.open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] #nav-toggle > i.close {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

body[data-nav="true"] #nav-toggle {
  background-color: #6337cd;
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.rubik-font {
  font-family: "Rubik", sans-serif;
}

#nav-links {
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(50%) scale(0.6);
  transition: transform;
  transition-timing-function: cubic-bezier(0.45, 0.02, 0.09, 0.98);
  transition-duration: 650ms;
}

#nav-links > .nav-link {
  text-decoration: none;
  scroll-snap-align: center;
}

#nav-links > .nav-link:last-child {
  padding-right: clamp(1rem, 2vw, 2rem);
}

#nav-links > .nav-link > .nav-link-label {
  display: block;
  color: #cfcfe3;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 300px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  object-fit: cover;
}

#nav-toggle {
  height: 5rem;
  width: 5rem;
  position: fixed;
  z-index: 3;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: #fbd05d;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.96);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  color: rgb(246, 231, 224);
  font-size: 1.75rem;
  opacity: 0;
  transition: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 400ms;
}
